{% extends 'base.html'%}

{% block content %}

<style>
table {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border-collapse: separate;
    border-spacing: 0 30px;
}
tr {
    border-bottom: 1px solid silver;
}
.tdleft {
    width:50%
}
.tdright {
    width: 50%;
    text-align: left;
}
button {
    height: 25px; 
    width: 60px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
</style>

<h1>Stock Market Analysis</h1>

<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
    
		<h3 class="card-title text-center">Log in to Stock</h3>
        {% if messages %}
            {% for message in messages %}

                <div class="alert alert-info">
                {{ message }}
                </div>

            {% endfor %}
        {% endif %}
		<div class="card-text">
			<!--
			<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
			<form method="post" action="dashboard/">
                {% csrf_token%}
				<!-- to error: add class "has-danger" -->
				<div class="form-group">
					<label for="exampleInputEmail1">Username</label>
					<input type="text" name="username" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Password</label>
					<a href="#" style="float:right;font-size:12px;">Forgot password?</a>
					<input type="password" name="password" class="form-control form-control-sm" id="exampleInputPassword1">
				</div>
				<button type="submit" class="btn btn-primary btn-block">Sign in</button>
				
				<div class="sign-up">
					Don't have an account? <a href="{% url 'register' %}">Create One</a>
				</div>
			</form>
		</div>
	</div>
</div>
</div>

<form name='search' method='POST' action='stock/' onsubmit='return validate()' target="_blank" >
    {% csrf_token %}

    <input id='search' type='text' name='token' placeholder='Enter company token'>
    <button type='submit'>Search</button>    
</form>

<form  name='search' method='POST' action='stock/' target="_blank" >
{% csrf_token %}
<table>
    <tr>
        <td><h3>You may be interested in</h3></td>
    </tr>
    <tr>
        <td class='tdleft'>
            <button style='color:white; background-color:red' type='submit' value='TSLA' name='token'>TSLA</button>
            <h3 style="display: inline; margin:25px">Tesla</h3>
        </td>
        <td class='tdright'>
            {{ tsla }}
        </td>
    </tr>
    <tr>
        <td class='tdleft'>
            <button style='color:white; background-color:silver' type='submit' value='AAPL' name='token'>AAPL</button>
            <h3 style="display: inline; margin:25px">Apple</h3>
        </td>
        <td class='tdright'>
            {{ aapl }}
        </td>
    </tr>
    <tr>
        <td class='tdleft'>
            <button style='color:white; background-color:green' type='submit' value='GOOG' name='token'>GOOG</button>
            <h3 style="display: inline; margin:25px">Google</h3>
        </td>
        <td class='tdright'>
            {{ goog }}
        </td>
    </tr>
    <tr>
        <td class='tdleft'>
            <button style='color:white; background-color:blue' type='submit' value='FB' name='token'>FB</button>
            <h3 style="display: inline; margin:25px">Faceook</h3>
        </td>
        <td class='tdright'>
            {{ fb }}
        </td>
    </tr>
    <tr>
        <td class='tdleft'>
            <button style='color:white; background-color:darkgoldenrod' type='submit' value='DOGE-INR' name='token'>DOGE</button>
            <h3 style="display: inline; margin:25px">DOGE-INR</h3>
        </td>
        <td class='tdright'>
            {{ doge }}
        </td>
    </tr>
    <tr>
        <td class='tdleft'>
            <button style='color:white; background-color:green' type='submit' value='BTC-USD' name='token'>BTC</button>
            <h3 style="display: inline; margin:25px">Bitcoin-USD</h3>
        </td>
        <td class='tdright'>
            {{ btc }}
        </td>
    </tr>
</table>

</form>
{% endblock %}